doctype html
html
  head
    meta(name="description", content="Savantory Scholar Book Reading Well-read")

    title= title
    
    link(rel='stylesheet', href='http://fonts.googleapis.com/icon?family=Material+Icons', media='screen')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css', media='screen')
    link(rel='stylesheet', href='css/landing.css', media='screen')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400italic,700italic,400,700|Raleway:400,700|Roboto+Slab:300,400', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')

    link(rel="shortcut icon", href="/img/Srini_favicon.ico", type="image/x-icon")
    link(rel="icon", href="/img/Srini_favicon.ico", type="image/x-icon")

    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    script(src='/js/libs/modernizr.custom.js')
  body
    block content

    
    script(src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js")
    script(src="https://cdn.firebase.com/js/client/2.4.0/firebase.js")

    script(data-main='/js/main',src='bower_components/requirejs/require.js')

    script(src='/js/analytics/analyticsSetup.js')
