footer {
  background: #735F96;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 0;
}
#main-content {
  background: #EAEAEA;
  height: 100%;
  min-height: 100vh;
}
nav .brand-logo {
  color: #735F96;
  font-family: 'Roboto Slab';
  font-size: 20px;
  font-weight: 400;
  padding-left: 1%;
}
nav ul a {
  color: #777;
}
.landing {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url('/img/wood_pattern.png');
}
.landing-announcer img {
  margin-top: 25px;
}
.landing-announcer h1 {
  color: #735F96;
  font-family: 'Roboto Slab';
  font-weight: 300;
  margin-top: 0px;
}
.landing-announcer p {
  color: #575757;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 300;
}
.account-auth {
  margin-top: 30px;
}
.header-tabs li {
  display: inline-block;
  font-size: 40px;
  font-weight: 200;
  margin: 10px 20px;
}
#dropdown-profile li a {
  color: #7a7a7a;
}
.books-shelf-grid .book-grid {
  margin-bottom: 50px;
}
.books-shelf-grid .book-grid .book-placeholder {
  background: #CDCDCD;
  box-shadow: 0px 0px 20px #919191;
  height: 300px;
  text-align: center;
  width: 200px;
}
.books-shelf-grid .book-grid img {
  height: 300px;
  box-shadow: 0px 0px 20px #919191;
}
/*----------------------------------------------------------------
    320px Breakpoint - Fix some mockups
----------------------------------------------------------------*/
@media only screen and (max-width: 400px) {
  .intro-item .caption {
    top: 50px;
  }
}
