/*----------------------------------------------------------------
    320px Breakpoint - Fix some mockups
----------------------------------------------------------------*/
footer {
  background: #735f96;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 0;
}
#main-content {
  background: #EAEAEA;
  height: 100vh;
}
nav .brand-logo {
  color: #735f96;
  font-family: 'Roboto Slab';
  font-size: 20px;
  font-weight: 400;
  padding-left: 1%;
}
.landing {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url('/img/wood_pattern.png');
}
.landing-announcer h1 {
  color: #735f96;
  font-family: 'Roboto Slab';
  font-weight: 400;
}
.landing-announcer p {
  color: #575757;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 300;
}
/*----------------------------------------------------------------
    320px Breakpoint - Fix some mockups
----------------------------------------------------------------*/
@media only screen and (max-width: 400px) {
  .intro-item .caption {
    top: 50px;
  }
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
