@grey-darken-2: #474747;
@primary-purple: #735F96;

footer {
	background: @primary-purple;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 0;
}

#main-content {
	background: #EAEAEA;
	height: 100%;
  min-height: 100vh;
}

nav {
	.brand-logo {
		color: @primary-purple;
		font-family: 'Roboto Slab';
		font-size: 20px;
		font-weight: 400;
		padding-left: 1%;
	}
  ul {
    a {
      color: #777;
    }
  }
}

.landing {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: url('/img/wood_pattern.png');
}
.landing-announcer {
  img {
    margin-top: 25px;
  }
	h1 {
		color: @primary-purple;
		font-family: 'Roboto Slab';
		font-weight: 300;
    margin-top: 0px;
	}
	p {
		color: #575757;
		font-family: 'Roboto';
		font-size: 20px;
		font-weight: 300;	}
}

.account-auth {
	margin-top: 30px;
}

#btn-add-book {
  margin: 35px 0px;
}

.header-tabs {
  li {
    border-bottom: 1px solid #ababab;
    display: inline-block;
    font-size: 50px;
    font-weight: 200;  
    margin: 10px 20px 10px 0px;
  }
}

#dropdown-profile {
  li {
    a {
      color: #7a7a7a;
    }
  }
}

.books-shelf-grid {
  .book-grid {
    margin-bottom: 50px;
    h5.card-title {
      color: rgba(39, 39, 39, 0.87);
      font-weight: 300;
      line-height: 1.1em;
    }
    h6 {
      color: #898989;
      margin-bottom: 10px;
    }
    .chip {
      color: #f7f7f7;
      font-weight: 300;
    }
    a.btn-floating {}
    .book-placeholder {
      background: #CDCDCD;
      box-shadow: 0px 0px 20px #919191;
      height: 300px;
      text-align: center;
      width: 200px;
    }
    img {
      // width: 200px;
      box-shadow: 0px 0px 20px #919191;
    }
  }
}

// Toggle checkbox
[type="checkbox"]+label {
  height: 20px;
}
[type="checkbox"]+label:before,
[type="checkbox"]:checked+label:before {
  display: none;
}
.lbl {
  position: relative;
  display: block;
  height: 20px;
  width: 44px;
  background: #FDCD92;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.lbl:after {
  position: absolute;
  left: -2px;
  top: -3px;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  background: #fb8c00;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
  content: '';
  transition: all 0.3s ease;
}
.lbl:active:after {
  transform: scale(1.15, 0.85);
}
.cbx:checked ~ label {
  background: #b3a8c7;
}
.cbx:checked ~ label:after {
  left: 20px;
  background: #735f96;
}
.cntr {
  // position: absolute;
  // transform: translate(-50%, -50%);
}
.press {
  margin-bottom: 40px;
  display: inline;
}
.hidden {
  display: none;
}

.read-state {
  margin-top: 30px;
  h6 {
    display: inline;
    margin: 10px;
    vertical-align: super;
  }
}

/*----------------------------------------------------------------
    320px Breakpoint - Fix some mockups
----------------------------------------------------------------*/

@media only screen and (max-width:400px) {

    .intro-item {
		.caption {
			top: 50px;
		}
	}
}   